
.row-posters{
display: flex;
overflow-y: hidden;
overflow-x: scroll;

}
/* To hide the scroll show  */
.row-posters::-webkit-scrollbar{
   display: none;
}
.row-poster{
    object-fit: contain;
    width: 300px;
    max-height: 250px;
    /* transition: transform 450ms; */
    padding: 3px;

}
.row-posters :hover{
    transform:  scale(1.08);
    cursor: pointer;
}
.row-posterLarge{
    max-height: 250px;
}
.row-posterLarge :hover{
transform: scale(1.09);
}